.links{
    text-align: center;
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../logo/cmatrix2.gif");
    background-position:90% 60%;
    height:950px;
    background-size:cover;
}

a:link{
    
    color: rgb(245, 255, 245);
    text-shadow: 0 0 3px white, 0 0 5px white;
    text-decoration: none;
    font-size: 25px;
    
}

.nav-links li a{
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-links li a:hover{
    font-weight:500;
    text-transform:uppercase;
    text-decoration:none;
    color:#6cff0a;
    margin:0 15px;
    font-size:40px;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }

.nav-links{
  display:flex;
  list-style: none;
  width: 40%;
  height: 90px;
  justify-content: space-around;
  align-items: center;
  margin-left:auto;
}

.nav-links button{
    background-color: #6cff0a;
text-shadow: #e6f1e5;
}

.logo{
    height: 500px;
    margin: -62px;
    
}

.logo2{
    height: 300px;
    margin: 45px;
}
    


.links h1{
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white;
    font-size: 90px;
    padding: 100px;
}

.links h2{
    color: black;
    text-shadow: 0 0 3px white, 0 0 5px white;
    font-size: 70px;
    margin: -62px;
}

.services {

    padding-top: 100px;
    padding-bottom: 75px;
   
    /*padding-top: 50px;
    margin: 50px;
    */
   /*margin-left: 500px;*/
}
.service-title {
    font-weight: lighter;
    color: rgb(30, 30, 30)
}

.service-green{
    background-color: #e6f1e5;
   
}
.services p{
    font-size: 20px;
    margin: 20px;
}

.services h1{
    font-size: 50px;
    margin: 20px;
}
/*
* Hamburger effekt:
*/


/*
* Footer
*/

.feature-icon{
    width: 70px;
    height: 60px;
    padding-top:14px;
    border-radius: 35px;
    color:white;
    text-align:center;
    font-size: 35px;
    float:left;
}